button {
  padding: 1em;
  border-radius: 1em;
  /* color: white; */
  cursor: pointer;
  /* width: 100%; */
}

button:hover {
  background-color: gray;
  color: white;
}

button.darkMode {
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

button.lightMode {
  background-color: #666;
  border: 1px solid black;
  color: black;
}